#footer {
  background: $blue;
  padding: 30px 0;
  color: white;
  font-size: 20px;
  p {
    font-size: 20px;
  }
  ul {
    margin-top: 10px;
  }
  a {
    color: $rose;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s ease;
    &:hover{
      color: white;
    }
  }
}
