#banner {
  background-image: image-url('background.jpg');
  color: white;
  padding: 300px 0;
  background-size: cover;
  height: 650px;
  padding-left: 50px;

  h1 {
    font-size: 70px;
    color: white;
    font-family: $header-font;
  }
  p {
    font-size: 25px;
    font-weight: 100;
    font-family: $header-font;
  }
}

.card {
  padding: 10px;
  font-weight: 300;
  h2{
    font-size: 22px;
  }
}

.hotel {
  background-color: white;
  font-weight: 300;
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  h2{
    padding-top: 1em;
    color: $blue;
    font-size: 22px;
    }
  a {
    padding-bottom: 1em;
  }
  }

#banner, #hotel, #tour, #newsletter, #acces {
  position: relative;
}

.scroll-btn{
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 60px;
  color: white;
  &:hover{
    color: white;
  }
}

#hotel {
  background-image: image-url('background.jpg');
  color: white;
  padding: 300px 0;
  background-size: cover;
  height: 650px;
  padding-left: 50px;

  h1 {
    font-size: 70px;
    color: white;
    font-family: $header-font;
  }
  p {
    font-size: 25px;
    font-weight: 100;
    font-family: $header-font;
  }
}

.rsvp {
  background-color: white;
  font-weight: 300;
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  padding: 1em;
  h1{
    color: $blue;
    }
  h2{
    padding-top: 1em;
    color: $blue;
    font-size: 22px;
    }
  a {
    padding-bottom: 1em;
  }
}


#banneraccess {
  background-image: image-url('access.jpg');
  background-size: cover;
  color: white;
  padding: 300px 0;
  height: 650px;
  padding-left: 50px;

  h1 {
    font-size: 70px;
    color: white;
    font-family: $header-font;
  }
  p {
    font-size: 25px;
    font-weight: 100;
    font-family: $header-font;
  }
}

.access {
  background-color: white;
  font-weight: 300;
  h1{
    color: $grey;
  }
  h2{
    padding-top: 1em;
    color: $blue;
    font-size: 22px;
    }
  a {
    padding-bottom: 1em;
  }
  }
