---
title: Accès - Léa & Raphael
---

<div id="banneraccess" class="smooth-scrollable">

  <div class="fade-and-slide">
    <h1>LEA & RAPHAEL</h1>
    <br>
    <p>24.06.2016</p>
    <p>CORSE</p>
  </div>
  <a href="#acces"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<!-- <div class="bg-primary" id="acces">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="access">
          <img src="images/access.jpg" width="100%">
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="access">
          <h1>Avion</h1>
        </div>
      </div>
    </div>
  </div>
</div>


 -->

<div class="bg-primary padded-light" id="hotels">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 padded-light">
        <div class="hotel">
          <h2>Avion</h2>
          <img src="images/access2.jpg" width="100%">
          <p>A 1h de Paris</p>
        </div>
      </div>
      <div class="col-md-6 padded-light">
        <div class="hotel">
          <h2>Bateau</h2>
          <img src="images/caranella.jpg" width="100%">
          <a href="http://bit.ly/1JA0vZB">Réserver</a>
        </div>
      </div>
      <div class="col-md-6 padded-light">
        <div class="hotel">
          <h2>Le Kilina</h2>
          <img src="images/kilina.jpg" width="100%">
          <a href="http://bit.ly/1ha5iWz">Réserver</a>
        </div>
      </div>
      <div class="col-md-6 padded-light">
        <div class="hotel">
          <h2>Villa</h2>
          <img src="images/villa.jpg" width="100%">
          <a href="http://lesvillasdugolfe.com/fr">Réserver</a>
        </div>
      </div>
    </div>
  </div>
</div>





