---
title: Mariage - Hôtels
---

<div id="hotel" class="smooth-scrollable">

  <div class="fade-and-slide">
    <h1>KEEP CALM</h1>
    <br>
    <h1>& BOOK YOUR STAY</h1>
    <br>
    <p>24.06.2016</p>
    <p>CORSE</p>
  </div>
  <a href="#hotels"><i class="fa fa-angle-down fa-6 pulse scroll-btn"></i></a>
</div>

<div class="bg-primary padded-light" id="hotels">
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 padded-light hotel">
        <h2>Grand Hotel de la Casa Rosa</h2>
        <img src="images/cala.jpg" width="100%">
        <a href="http://bit.ly/1fO4K7S" class="btn">Réserver</a>
    </div>
    <div class="col-md-6 padded-light hotel">
        <h2>Domaine de Caranella</h2>
        <img src="images/caranella.jpg" width="100%">
          <div class="col-md-6">
            <h2>Domaine de Caranella</h2>
          </div>
          <div class="col-md-6">
              <h2>Domaine de Caranella</h2>
          </div>
        <a href="http://bit.ly/1JA0vZB" class="btn">Réserver</a>
      </div>
    </div>
    <div class="col-md-6 padded-light hotel">
      <h2>Le Kilina</h2>
      <img src="images/kilina.jpg" width="100%">
      <a href="http://bit.ly/1ha5iWz" class="btn">Réserver</a>
    </div>
    <div class="col-md-6 padded-light hotel">
      <h2>Villa</h2>
      <img src="images/villa.jpg" width="100%">
      <a href="http://www.airbnb.com" class="btn">Réserver</a>
    </div>
  </div>
</div>
